/*
    Document   : style
    Created on : 01.02.2013, 7:13:18
    Author     : Alexey Skobkin <x@skobkin.ru>
    Description:
        Purpose of the stylesheet follows.
*/

input.verify:focus:invalid {
        background-color: #f88;
}

input.verify:invalid {
        background-color: #f88;
}

input.verify:focus:valid {
        background-color: palegreen;
}

.table-bordered th,
.table-bordered td {
  border-bottom: medium none;
  border-left: 1px solid #DDDDDD;
  border-right: medium none;
}
.table.table-bordered {
  border-color: #bbddf1;
}
.table.table-bordered th,
.table.table-bordered td {
  vertical-align: top;
}
.table.table-bordered tr th:first-child,
.table.table-bordered tr td:first-child {
  border-left-color: #bbddf1;
}
.table.table-bordered thead {
  border-bottom: 2px solid #1e668f;
}
.table.table-bordered thead th {
  text-align: center;
  font-weight: normal;
  color: #1e668f;
  border-color: #bbddf1;
  border-bottom: 2px solid #bbddf1;
  background-color: #ddeef8;
  background-image: -moz-linear-gradient(top, #e5f2fa, #d0e8f5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e5f2fa), to(#d0e8f5));
  background-image: -webkit-linear-gradient(top, #e5f2fa, #d0e8f5);
  background-image: -o-linear-gradient(top, #e5f2fa, #d0e8f5);
  background-image: linear-gradient(to bottom, #e5f2fa, #d0e8f5);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe5f2fa', endColorstr='#ffd0e8f5', GradientType=0);
  vertical-align: middle;
}
.table.table-bordered tbody tr:first-child td {
  border-top: none;
}
.table.table-bordered tbody tr .subheader {
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 16.8px;
  background: #ffffff;
}
.table.table-bordered th.actions {
  width: 50px;
}
.table.table-bordered .row1 {
  background-color: #F9F9F9;
}
.table.table-bordered .number {
  text-align: right;
}
.table.table-bordered .center {
  text-align: center;
}
.table.table-bordered .summary td {
  border-color: #bbddf1;
  color: #1e668f;
  border-top: 4px solid #bbddf1;
  background-color: #ddeef8;
  background-image: -moz-linear-gradient(top, #e5f2fa, #d0e8f5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e5f2fa), to(#d0e8f5));
  background-image: -webkit-linear-gradient(top, #e5f2fa, #d0e8f5);
  background-image: -o-linear-gradient(top, #e5f2fa, #d0e8f5);
  background-image: linear-gradient(to bottom, #e5f2fa, #d0e8f5);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe5f2fa', endColorstr='#ffd0e8f5', GradientType=0);
}
.table.table-bordered .subsummary td {
  color: #1e668f;
  border-top: 2px solid #bbddf1;
  background: #fafdfe;
}
.table.table-bordered .subsummary + tr td.subheader {
  border-top: 1px solid #bbddf1;
}
.table.table-bordered .green {
  background-color: #e0fede;
  color: #0a7403;
}
.table.table-bordered .blue {
  background-color: #e3e7fc;
  color: #0c1c6e;
}
.table.table-bordered .yellow {
  background-color: #fefede;
  color: #747403;
}
.table.table-bordered .red {
  background-color: #fee7e2;
  color: #771904;
}
.table.no-border,
.table.no-border td,
.table.no-border th {
  border: none;
  vertical-align: top;
  padding: 0;
}
.noborder {
  border: none;
}
.table th,
.table td {
  padding: 3px 8px;
  vertical-align: middle;
}